@model WebApplication9.Models.ProductClass
@{
    ViewBag.Title = "Details";
}

<h1>Details of Product</h1>
<h3>Product ID : @Model.ProdId</h3>
<h3>Product Name : @Model.ProdName</h3>
<h3>Product Category : @Model.ProdCategory</h3>
<h3>Product MFD : @Model.ProdMfd</h3>
<h3>Product EXPD: @Model.ProdExpd</h3>



