@model WebApplication54.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpDept)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpDept)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpPhNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpPhNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EmpId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
