@model IEnumerable<WebApplication18.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookWriter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookPublisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.BookId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BookName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BookWriter)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BookPublisher)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BookPrice)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.BookId }) |
        @Html.ActionLink("Details", "Details", new { id = item.BookId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.BookId })
    </td>
</tr>
}

</table>
